.catHolder {
  align-items: center;
  justify-items: center;
  overflow: auto;
}

.descHolder {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 30px 60px;

  overflow: auto;
}

.descHolder > p {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 700px;
  min-width: 200px;
  text-align: center;
  /* font-size: 17px; */
}

.spacer {
  /* display: flex;
    align-items: center; /* vertical centering if flex-direction: row */
  /*justify-content: center; /* horizontal centering if flex-direction: row */
  margin: 10px 10px;
  z-index: 2;
}

@media only screen and (max-width: 1300px) {
  .gridOrFlex {
    flex-direction: column;
    display: flex;
    align-items: center; /* vertical centering if flex-direction: row */
    justify-content: center; /* horizontal centering if flex-direction: row */
  }

}

@media only screen and (max-width: 700px) {
  .proHolder {
    justify-content: flex-start;
  }
}